@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
    --color-primary: oklch(0.6283 0.2099 13.6);
    --color-secondary: oklch(0.8052 0.14596 65.2304);
    --color-border: oklch(0.2686 0 0);
    --color-dark: oklch(0.1205 0.0097 252.89);
    --color-text: oklch(0.709 0 0);
    --color-delete: oklch(0.1698 0.0538 24.97);
    --color-red: oklch(0.628 0.2577 29.23);
}

/* Scrollbar oscuro para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #040609;
    /* Fondo oscuro del track */
}

::-webkit-scrollbar-thumb {
    background-color: #040609;
    /* Color del scroll */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
    /* Color al pasar el mouse */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #262626 #040609;
    /* Scroll animado al dar clic a un <a> para ir a una sección */
    scroll-behavior: smooth;
}

.toast-dark {
    background-color: #040609 !important;
    color: white !important;
    border: 1px solid #262626 !important;
    font-family: 'Inter', sans-serif !important;
    border-radius: 12px !important;
}
